/* Write some CSS below */
body {
  font-family: Overpass;
  margin: 0;
}

h1, h2, h3 {
  color: #404042;
  font-family: Chivo;
}

p {
  color: #404042;
  opacity: .7;
}

main {
  width: 800px;
  margin: auto;
}

header {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/calv.jpg');
  background-size: cover;
  background-position: center;
  padding: 100px 0;
  text-align: center;
}

header h1 {
  color: white;
  font-size: 45px;
  margin: 0;
}

header p {
  color: white;
  font-size: 24px;
}
header img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
}

footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

footer p {
  color: white;
}
